.footer {
  max-width: fit-content;
  margin: 92px auto 24px;
}
.footer__copyright {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: auto auto 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: auto auto 24px;
  }
  .footer__copyright {
    line-height: 14px;
  }
}
