.footer {
    max-width: 166px;
    max-height: 16px;
    margin: 92px auto 24px 556px;    
}
.footer__copyright {
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
}