.header__logo {
  max-width: 254px;
  height: 70px;
  margin: 34px auto 90px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    margin: 32px auto 90px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin: 30px auto 90px;
  }
}
@media screen and (max-width: 544px) {
  .header__logo {
    margin: 25px auto 70px;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 188px;
    margin: 20px auto 50px;
  }
}
