.header {
    max-width: 984px;
    max-height: 983px;
    margin: 194px auto 0 148px;
}

.header__tittle {
    max-width: 720px;
    margin: 90px auto 32px;
    font-family: Inter;
    font-weight: 900;
    font-style: Black;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
}
.header__subtittle {
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}
.header__image {
    max-width: 984px;
    max-height: 615px;
    width: 100%;
    margin: 64px auto 0;
    display: block;
}
