.places {
  display: flex;
  flex-direction: column;
  margin: 92px auto auto;
  row-gap: 80px;
  max-width: 984px;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title artist"
    "image paragraph"
    "button paragraph";
  gap: 40px;
}
.place__title {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.place__website {
  grid-area: artist;
  max-width: 455px;
  margin-top: auto;
}
.place__url-heading {
  max-width: 85px;
  height: 15px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: rgba(170, 170, 170, 1);
  text-align: justify;
}
.place__artist {
  max-width: 455.52px;
  height: 22px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}
.place__image {
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
  opacity: 1;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.place__image:hover {
  background: rgba(0, 0, 0, 0.5);
}
.place__paragraph {
  grid-area: paragraph;
  max-width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: rgba(255, 255, 255, 1);
  text-align: justify;
}
.place__buttom {
  grid-area: button;
  max-width: 356px;
  height: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.place__buttom:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
@media screen and (max-width: 1024px) {
  .places {
    max-width: 830px;
    row-gap: 76px;
    margin-bottom: 90px;
  }
  .place__title {
    max-width: 390px;
    font-size: 56px;
    line-height: 56px;
  }
  .place__website {
    max-width: 402px;
  }
  .place__url-heading {
    max-width: 76px;
  }
  .place__artist {
    max-width: 402px;
  }
  .place__image {
    max-width: 320px;
    height: 320px;
  }
  .place__paragraph {
    max-width: 420px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    row-gap: 72px;
    margin-bottom: 90px;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .place__website {
    max-width: 352px;
  }
  .place__url-heading {
    max-width: 67px;
  }
  .place__artist {
    max-width: 352px;
  }
  .place__image {
    max-width: 340px;
    height: 340px;
  }
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 544px) {
  .places {
    max-width: 520px;
    row-gap: 62px;
    margin-bottom: 90px;
    margin-top: auto;
  }
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph"
      "paragraph"
      "button";
    gap: 40px;
  }
  .place__title {
    max-width: 308px;
    font-size: 37px;
    line-height: 38px;
  }
  .place__website {
    max-width: 288px;
  }
  .place__url-heading {
    max-width: 308px;
  }
  .place__artist {
    max-width: 308px;
  }
  .place__image {
    max-width: 320px;
    height: 320px;
  }
  .place__paragraph {
    max-width: 308px;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    row-gap: 50px;
    margin-bottom: 90px;
    margin-top: auto;
  }
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph"
      "paragraph"
      "button";
    gap: 40px;
  }
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .place__website {
    max-width: 288px;
  }
  .place__url-heading {
    max-width: 288px;
  }
  .place__artist {
    max-width: 288px;
  }
  .place__image {
    max-width: 320px;
    height: 320px;
  }
  .place__paragraph {
    max-width: 288px;
    font-size: 14px;
    line-height: 163%;
  }
}
