* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
}

body {
    background-color: #2A2C2F;
}

ul, ol {
    list-style-type: none;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    border:  3px solid red;
}